#room-container {
    width: 100%;
    height: 100vh;
}

.users {
    width: 100%;
}

.user {
    width: 100%;
}

.main-content {
    width: 100%;
    height: 85vh;
}

.message-log {
    width: 100%;
    height: 85vh;
}

.message-input {
    position: absolute;
    width: 100%;
    height: 5vh;
}
