#room-container {
    width: 100%;
    height: 95vh;
}

.message-log {
    position: relative;
    width: 100%;
    height: 85vh;
}

.message-input {
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0px;
}

.send {
    width: 100px;
    height: 100%;
}