<div class="container-fluid pl-0" id="lobby-container">
  <div class="row">

    <div class="col-md-2 bg-primary users">
      <app-user-list [users]="activeUsers"></app-user-list>
    </div>

    <div class="col-md-10">
      <div class="row">

        <div class="col-2">
          <button type="button" class="btn btn-sm btn-block btn-danger mt-2 mb-2 ml-2 add"
            (click)="logout()">
            <b>Logout</b>
          </button>
        </div>

        <div class="col-8">
          <h4 class="display-4 text-primary text-center">Lobby</h4>
        </div>

        <div class="col-2">
          <button type="button" class="btn btn-sm btn-block btn-success mt-2 mb-2 add"
            data-toggle="modal" data-target="#roomModal">
            <b>New Room</b>
          </button>
        </div>

      </div>
      
      <hr>

      <ul class="list-group" *ngIf="rooms">
        <li class="list-group-item room" *ngFor="let room of rooms">
          <div class="row">
            <div class="col-2">
              <h4 class="text-primary lead" routerLink="/room/{{room.id}}">
                {{ room.roomName }}
              </h4>
            </div>
            <div class="col-10">
              <p *ngIf="room.description">{{ room.description }}</p>
              <p *ngIf="!room.description">There is no description for this room.</p>
            </div>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<!-- Modal for creating a new room to chat in -->
<div class="modal" id="roomModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-primary">
        <h4 class="text-white">New Room</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clear()">&times;</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="roomForm">
          <div class="form-group">
            <label for="roomName">Name:</label>
            <input type="text" class="form-control" formControlName="roomName" placeholder="Enter a room name">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" formControlName="description" placeholder="Enter a description"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="createRoom()" data-dismiss="modal"
          [disabled]="roomForm.invalid">
          Create Room
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>
