<div class="container-fluid pl-0" id="lobby-container">
  <div class="row">

    <div class="col-md-2 p-0 users bg-secondary">
      <h4 class="text-center text-white bg-dark dropdown-toggle mb-2 pt-3 pb-3"
        data-toggle="dropdown" data-target="#userDropdown">
        {{ currentUser.userName }}
      </h4>
      <div class="dropdown-menu">
        <a class="nav-link logout" (click)="logout()">Logout</a>
        <a class="nav-link logout" (click)="removeAccount()">Delete Account</a>
      </div>

      <h4 class="text-center text-white mb-3">Active Users</h4>
      <ul class="list-group-flush p-0" *ngIf="activeUsers">
        <li class="list-group-item" *ngFor="let user of activeUsers" style="background-color: gray;">
          <h4 class="text-center text-white">{{ user.userName }}</h4>
        </li>
      </ul>
    </div>

    <div class="col-md-10 p-0">
      <div class="container-fluid jumbotron pt-2 pb-4 mb-10">
        <h3 class="display-3 text-center text-primary">Welcome to CHAT</h3>
        <p class="text-center">To start chatting, join a room from the list of rooms below.</p>
        <p class="text-center">You can also send a message to multiple, specific rooms by clicking the broadcast button.</p>
        <div class="text-center">
          <button type="button" class="btn btn-primary text-center ml-auto mr-auto"
            data-toggle="modal" data-target="#broadcastModal">
            Broadcast
          </button>
        </div>
      </div>

      <div class="container">
        <button type="button" class="btn btn-md btn-block btn-success mt-2 mb-2"
          data-toggle="modal" data-target="#roomModal">
          <b>New Room</b>
        </button>
        <ul class="list-group"  *ngIf="rooms">
          <li class="list-group-item" *ngFor="let room of rooms">
            <div class="row">
              <div class="col-2">{{ room.roomName }}</div>
              <div class="col-7">{{ room.description }} </div>
              <div class="col-3">
                <div class="btn-group">
                    <a type="button" class="btn btn-success" routerLink="/room/{{room.id}}">Join Room</a>
                    <button type="button" class="btn btn-danger" (click)="removeRoom(room.id)" *ngIf="room.ownerId === currentUser.id">
                      Remove
                    </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!-- Modal for creating a new room to chat in -->
<div class="modal" id="roomModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-primary">
        <h4 class="text-white">New Room</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clear()">&times;</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="roomForm">
          <div class="form-group">
            <label for="roomName">Name:</label>
            <input type="text" class="form-control" formControlName="roomName" placeholder="Enter a room name">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" formControlName="description" placeholder="Enter a description"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="roomForm.invalid"
          (click)="createRoom()">
          Create Room
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Modal for creating a message to broadcast to multiple rooms -->
<div class="modal" id="broadcastModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header bg-primary">
          <h4 class="text-white">Broadcast a message</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="clear()">&times;</button>
        </div>
  
        <div class="modal-body">
          <form [formGroup]="broadcastForm">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="messageText" placeholder="Enter your message">
            </div>
            <div class="form-group">
              <p class="lead text-center">Who would you like to broadcast to?</p>
              <select multiple class="form-control" formControlName="recipients">
                <option *ngFor="let room of rooms" [value]="room.id">
                  {{ room.roomName }}
                </option>
              </select>
            </div>
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="broadcastMessage()"
            [disabled]="broadcastForm.invalid">
            Broadcast Message
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            Cancel
          </button>
        </div>
  
      </div>
    </div>
  </div>